

body {margin: 0;}

/*.horinav{
    display: table;
    width: 800px;
    margin: 100px auto;
    background-color: #f1f1f1;
    padding:10px;
    height: 100%;
    overflow: auto;
    display: table-cell;
    display: block;
    color: #000;
    padding: 16px 100px;
    text-decoration: none;
}
ul.horinav li{
    display: table-cell;
}

ul.horinav li a {
    display: block;
    color: #000;
    padding: 16px 100px;
    text-decoration: none;
}*/



ul.horinav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:last-child {
    border-right: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.imp
{
    width: 520px;
    color: indianred;
    border: 1px solid black;
    margin-left: 20%;
}

.phot
{
    margin: 50px; /* Marge extérieure de 50px */
    margin-left: 30%;
}

.ide
{
    width: 350px;
    border: 1px solid black;
    margin-left: 40%;
    margin-bottom: 20px;
    text-align: justify;
}

.mdp
{
    width: 350px;
    border: 1px solid black;
    margin-left: 39%;
    margin-bottom: 20%;
    text-align: justify;
}

.id
{
    width: 350px;
    margin-left: 70%;
    margin-bottom: 20%;
    text-align: justify;
}

.idl
{
    width: 350px;
    margin-left: 10%;
    margin-bottom: 10%;
    text-align: justify;
}

.formu
{
    width: 350px;
    margin-left: 30%;
    margin-top: 80%;
    text-align: justify;
}

.phot2
{

    margin-left: 20%;
    margin-bottom: 10%;
    text-align: justify;
}

.sphot2
{
    margin-left: 27%;
    margin-bottom: 10%;
    text-align: justify;
}

.phot3
{
    margin-left: 60%;
    margin-bottom: 10%;
    text-align: justify;
}

.sphot3
{
    margin-left: 69%;
    margin-bottom: 10%;
    text-align: justify;
}

.capt1
{
    margin-left: 20%;
    margin-bottom: 10%;
    text-align: justify;
}

.capt2
{
    margin-left: 0%;
    margin-bottom: 10%;
    text-align: justify;
}

.capt3
{
    margin-left: 0%;
    margin-bottom: 10%;
    text-align: justify;
}

.l3
{
    margin-left: 20%;
    text-align: justify;

}

.text1
{
    width: 350px;
    margin-left: 20%;
    margin-bottom: 10%;
    text-align: justify;
}

.text2
{
    width: 350px;
    margin-left: 40%;
    margin-bottom: 10%;
    text-align: justify;
}

.text3
{
    width: 350px;
    margin-left: 60%;
    margin-bottom: 10%;
    text-align: justify;
}

.content
{
    text-align: center;
}