

body {
    margin: 0;
    padding: 0;
    background-color: rgba(192,192,192,0.3);
    font-family: Verdana;

}

/*.horinav{
    display: table;
    width: 800px;
    margin: 100px auto;
    background-color: #f1f1f1;
    padding:10px;
    height: 100%;
    overflow: auto;
    display: table-cell;
    display: block;
    color: #000;
    padding: 16px 100px;
    text-decoration: none;
}
ul.horinav li{
    display: table-cell;
}

ul.horinav li a {
    display: block;
    color: #000;
    padding: 16px 100px;
    text-decoration: none;
}*/

.footer{
    background:#333;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:100px;
    text-align: center;
    color: white;
}
ul.capt{
    list-style-type: square;
    margin-left: 10%;
    margin-right: 10%;
}

ul.horinav {
    list-style-type: none;
    margin-left: 5%;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

ul.horinav li{
    float: left;
    border-right: 1px solid #bbb;
}

ul.horinav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 21px 16px;
    text-decoration: none;
}

ul.horinav li:last-child{
    border-right: none;
}

ul.horinav li a:hover:not(.active){
    background-color: #111;
}

.active {
    background-color: #778899;
}

h1.espace{
    font-size: 50px;
    margin-top: 6100px ;
    margin-bottom: 2%;
    border-radius: 5px;
    border-style: hidden;
}

h1.double {
    border-style: double;
    font-size: 50px;
    margin-top: 7% ;
    margin-bottom: 2%;
    border-radius: 5px;
}

.logo
{
    position: fixed;
    top: 0;
    left:0;
    margin-bottom: 10%;
    text-align: justify;
}


.temp{
    text-align: justify;
}

p.info{
    display: inline-flex;
}
.imp
{
    width: 520px;
    color: indianred;
    border: 1px solid black;
    margin-left: 20%;
}

.phot
{
    margin: 50px; /* Marge extérieure de 50px */
    margin-left: 30%;
}


.information
{
    text-align: center;
    background-color: aliceblue ;
    width: 250px;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 5px;
    display : inline-block;
    vertical-align:middle;

}

.information1
{
    text-align: center;
    background-color: aliceblue ;
    width: 250px;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 5px;
    display : inline-block;
    vertical-align:middle;

}
.general{
    display: inline-block;
}

.ide
{
    width: 350px;
    border: 1px solid black;
    margin-left: 40%;
    margin-bottom: 20px;
    text-align: justify;
}

.mdp
{
    width: 350px;
    border: 1px solid black;
    margin-left: 39%;
    margin-bottom: 20%;
    text-align: justify;
}

.id
{
    width: 350px;
    margin-left: 70%;
    margin-bottom: 20%;
    text-align: justify;
}

.idl
{
    width: 350px;
    margin-left: 10%;
    margin-bottom: 10%;
    text-align: justify;
}

.formu
{
    width: 350px;
    margin-left: 30%;
    margin-top: 80%;
    text-align: justify;
}

.phot2
{

    margin-left: 20%;
    margin-bottom: 10%;
    text-align: justify;
}

.sphot2
{
    margin-left: 27%;
    margin-bottom: 10%;
    text-align: justify;
}

.phot3
{
    margin-left: 60%;
    margin-bottom: 10%;
    text-align: justify;
}

.sphot3
{
    margin-left: 69%;
    margin-bottom: 10%;
    text-align: justify;
}

.capt1
{
    margin-left: 20%;
    margin-bottom: 10%;
    text-align: justify;
}

.capt2
{
    margin-left: 0;
    margin-bottom: 10%;
    text-align: justify;
}

.capt3
{
    margin-left: 0;
    margin-bottom: 10%;
    text-align: justify;
}

.l3
{
    margin-left: 20%;
    text-align: justify;

}

.text1
{
    width: 350px;
    margin-left: 20%;
    margin-bottom: 10%;
    text-align: justify;
}

.text2
{
    width: 350px;
    margin-left: 40%;
    margin-bottom: 10%;
    text-align: justify;
}

.text3
{
    width: 350px;
    margin-left: 60%;
    margin-bottom: 10%;
    text-align: justify;
}

.content
{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Verdana;
}
.slideThree {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
    content: 'OFF';
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
    content: 'ON';
    color: #27ae60;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
}

.slideThree label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
    visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
    left: 43px;
}

.new
{
    background-color: white;
    border: 1px solid orangered;
    padding: 5px;
    color: orangered;
    transition: all 0.5s ease;
    margin-left: 80%;
}

.new:hover{
    background-color: orangered;
    color: white;
}

.new2
{
    width: 200px;
    margin-left: 10%;
    margin-bottom: 10%;
    background-color: white;
    border: 1px solid deeppink;
    padding: 5px;
    color: deeppink;
    transition: all 0.5s ease;
}

.new2:hover{
    background-color: deeppink;
    color: white;
}

.form {

}

.form input {
    display: block;
    margin-bottom: 5px;
    border-radius: 2px;

}

.inputbasic{
    border: 1px solid grey;
    padding: 5px;
    transition: all 0.5s ease;
    margin-left: 43%;

}

.inputbasic:focus {
    background-color: lightgrey;
    color: white;


}

.form input[type=submit]{
    background-color: white;
    border: 1px solid red;
    padding: 5px;
    color: red;
    transition: all 0.5s ease;
    margin-left: 80%;
}

.form input[type=submit]:hover{
    background-color: red;
    color: white;
}
